*.jsdtscope
*.eclipse.core.resources.prefs
*.eclipse.jdt.core.prefs
*.eclipse.wst.common.component
*.eclipse.wst.common.project.facet.core.xml
*.eclipse.wst.jsdt.ui.superType.container
*.eclipse.wst.jsdt.ui.superType.name
